body {
  background: #1b1b1b;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  transform: scale(2);
}

.youtube {
  position: relative;
  background: #e21;
  width: 80px;
  height: 85px;
  padding: 0 15px;
  border-radius: 50% / 14%;
}

.youtube::before {
  content: '';
  position: absolute;
  background: inherit;
  top: 10%;
  bottom: 10%;
  right: -5%;
  left: -5%;
  border-radius: 7% / 50%;
}

.mid {
  width: 100%;
  height: 85px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 3px;
}

.mid::before {
  content: '';
  z-index: 1;
  width: 0;
  height: 0;
  border-left: 25px solid #fff;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
}
